<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">


<!------ parallax ---------->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

</head>

<div id="parallax-world-of-ugg">
  
<section>
  <div class="title">
    <h3>Let's do some</h3>
    <h1>DESIGN DEL KIT QUI DIT UI</h1>
  </div>
</section>

<section>
  <div class="parallax-two">

    <h2>LE FORMULAIRE</h2>
  </div>
</section>

<section>
  <div class="block">
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  <div class="form-group">
  <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  <br>
  <div class="row mb-3">
  <div class="col-6">
    <!-- Checkbox -->
    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
      <input type="checkbox" class="custom-control-input" id="rememberMeCheckbox">
      <label class="custom-control-label" for="rememberMeCheckbox">
      &nbsp Remember Me
      </label>
    </div>
    <!-- End Checkbox -->
  </div>

  <div class="col-6 text-right">
    <a class="float-right" href="recover-account.html">Forgot Password?</a>
  </div>
</div>

  <button type="submit" class="btn btn-primary">Submit</button>
  
  </div>
</div>
</section>

<section>
  <div class="parallax-three">
    <h2>ENCHANTED FOREST</h2>
  </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character atw">W</span>hen the New York fashion community notices your brand, the world soon follows. The widespread love for UGG extended to Europe in the mid-2000's along with the stylish casual movement and demand for premium casual fashion. UGG boots and shoes were now seen walking the streets of London, Paris and Amsterdam with regularity. To meet the rising demand from new fans, UGG opened flagship stores in the UK and an additional location in Moscow. As the love spread farther East, concept stores were opened in Beijing, Shanghai and Tokyo. UGG Australia is now an international brand that is loved by all. This love is a result of a magical combination of the amazing functional benefits of sheepskin and the heightened emotional feeling you get when you slip them on your feet. In short, you just feel better all over when you wear UGG boots, slippers, and shoes.</p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">In 2011, UGG will go back to its roots and focus on bringing the active men that brought the brand to life back with new styles allowing them to love the brand again as well. Partnering with Super Bowl champion and NFL MVP Tom Brady, UGG will invite even more men to feel the love the rest of the world knows so well. UGG will also step into the world of high fashion with UGG Collection. The UGG Collection fuses the timeless craft of Italian shoemaking with the reliable magic of sheepskin, bringing the luxurious feel of UGG to high end fashion. As the love for UGG continues to spread across the world, we have continued to offer new and unexpected ways to experience the brand. The UGG journey continues on and the love for UGG continues to spread.</p>
  </div>
</section>
  
</div>






<title>Footer 01</title>
<script nonce="db99fd64-d3ed-42e1-a132-84bf04e7b19a">(function(w,d){!function(f,g,h,i){f[h]=f[h]||{};f[h].executed=[];f.zaraz={deferred:[],listeners:[]};f.zaraz.q=[];f.zaraz._f=function(j){return function(){var k=Array.prototype.slice.call(arguments);f.zaraz.q.push({m:j,a:k})}};for(const l of["track","set","debug"])f.zaraz[l]=f.zaraz._f(l);f.zaraz.init=()=>{var m=g.getElementsByTagName(i)[0],n=g.createElement(i),o=g.getElementsByTagName("title")[0];o&&(f[h].t=g.getElementsByTagName("title")[0].text);f[h].x=Math.random();f[h].w=f.screen.width;f[h].h=f.screen.height;f[h].j=f.innerHeight;f[h].e=f.innerWidth;f[h].l=f.location.href;f[h].r=g.referrer;f[h].k=f.screen.colorDepth;f[h].n=g.characterSet;f[h].o=(new Date).getTimezoneOffset();if(f.dataLayer)for(const s of Object.entries(Object.entries(dataLayer).reduce(((t,u)=>({...t[1],...u[1]})))))zaraz.set(s[0],s[1],{scope:"page"});f[h].q=[];for(;f.zaraz.q.length;){const v=f.zaraz.q.shift();f[h].q.push(v)}n.defer=!0;for(const w of[localStorage,sessionStorage])Object.keys(w||{}).filter((y=>y.startsWith("_zaraz_"))).forEach((x=>{try{f[h]["z_"+x.slice(7)]=JSON.parse(w.getItem(x))}catch{f[h]["z_"+x.slice(7)]=w.getItem(x)}}));n.referrerPolicy="origin";n.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(f[h])));m.parentNode.insertBefore(n,m)};["complete","interactive"].includes(g.readyState)?zaraz.init():f.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script></head>
<body>
<div class="content d-flex align-items-center bg-light">
<h2 class="w-100 text-center">Footer #1</h2>
</div>
<footer class="footer-20192">
<div class="site-section">
<div class="container">
<div class="cta d-block d-md-flex align-items-center px-5">
<div>
<h2 class="mb-0">Une nouvelle idée ?</h2>
<h3 class="text-dark">Vas-y envois!</h3>
</div>

<div class="ml-auto">
<a href="#" class="btn btn-dark rounded-5 ml-5 py-2 px-2">Contactez nous</a>
</div>
</div>
<div class="row">
<div class="col-sm">
<a href="#" class="footer-logo">SamDesign</a>
<p class="copyright">
<small>&copy; 2023</small>
</p>
</div>
<div class="col-sm">
<h3>Nos clients</h3>
<ul class="list-unstyled links">
<li><a href="#">Acheteurs</a></li>
<li><a href="#">Fournisseurs</a></li>
</ul>
</div>
<div class="col-sm">
<h3>La société</h3>
<ul class="list-unstyled links">
<li><a href="#">A propos</a></li>
<li><a href="#">Carrières</a></li>
<li><a href="#">Contactez nous</a></li>
</ul>
</div>
<div class="col-sm">
<h3>en savoir plus ?</h3>
<ul class="list-unstyled links">
<li><a href="#">Termes et amp; Conditions</a></li>
<li><a href="#">Vie privée</a></li>
</ul>
</div>
<div class="col-md-3">
<h3>Nous suivre</h3>
<ul class="list-unstyled social">
<li><a href="#"><span class="icon-facebook"></span></a></li>
<li><a href="#"><span class="icon-twitter"></span></a></li>
<li><a href="#"><span class="icon-linkedin"></span></a></li>
<li><a href="#"><span class="icon-medium"></span></a></li>
<li><a href="#"><span class="icon-paper-plane"></span></a></li>
</ul>
</div>
</div>
</div>
</div>
</footer>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a03d1a3d9bf2a03","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.2.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>