<div id="parallax-world-of-ugg">

<section>
  <div class="block">
  <div class="title">
    <h3>Et si tu te logguais</h3>
    <br>
    <h1>SIGN IN</h1>
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  <div class="form-group">
  <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  <br>
  <div class="row mb-3">
  <div class="col-6">
    <!-- Checkbox -->
    <div class="custom-control custom-checkbox d-flex align-items-center text-muted">
    <input type="checkbox" class="custom-control-input" id="rememberMeCheckbox" style="
    margin-left: 10px;
    ">
      &nbsp Remember Me
      </label>
    </div>
    <!-- End Checkbox -->
  </div>

  <div class="col-6 text-right">
    <a class="float-right" href="recover-account.html">Forgot Password?</a>
  </div>
</div>
    <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  
  </div>
</div>
</section>

