<footer>
<div class="content d-flex align-items-center bg-light">
</div>
<footer class="footer-20192">
<div class="site-section">
<div class="container">
<div class="cta d-block d-md-flex align-items-center px-5">
<div>
<h2 class="mb-0">Nouvelle idée ?</h2>
<h3 class="text-dark">Vas-y envois!</h3>
</div>

<div class="ml-auto">
<a href="#" class="btn btn-dark rounded-5 ml-5 py-4 px-4" ;="" "="" style="
    margin-left: 40px;
">Contactez nous</a>
</div>
</div>
<div class="row">
<div class="col-sm">
<a href="#" class="footer-logo">SamDesign</a>
<p class="copyright">
<small>&copy; 2023</small>
</p>
</div>
<div class="col-sm">
<h3>Nos clients</h3>
<br>
<ul class="list-unstyled links">
<li><a href="#">Acheteurs</a></li>
<li><a href="#">Fournisseurs</a></li>
</ul>
</div>
<div class="col-sm">
<h3>La société</h3>
<br>
<ul class="list-unstyled links">
<li><a href="#">A propos</a></li>
<li><a href="#">Carrières</a></li>
<li><a href="#">Contactez nous</a></li>
</ul>
</div>
<div class="col-sm">
<h3> + d'infos ?</h3>
<br>
<ul class="list-unstyled links">
<li><a href="#">Termes et Conditions</a></li>
<li><a href="#">Vie privée</a></li>
</ul>
</div>
<div class="col-md-3">
<h3>Nous suivre</h3>
<br>
<ul class="list-unstyled social">
<li><a href="#"><span class="icon-facebook"></span></a></li>
<li><a href="#"><span class="icon-twitter"></span></a></li>
<li><a href="#"><span class="icon-linkedin"></span></a></li>
<li><a href="#"><span class="icon-medium"></span></a></li>
<li><a href="#"><span class="icon-paper-plane"></span></a></li>
</ul>
</div>
</div>
</div>
</div>
</footer>